<div id="<%=app_item.dom_id%>" class="icon">
  <a class="delete ajax-delete" href="<%= app_link_path(app_item) %>"><img src="/images/fancybox/fancy_closebox.png" /></a>
  <a class="fancy_app_edit" href="<%= edit_app_link_path(app_item) %>"><%= image_tag(app_item.icon.url(:phone), :class => 'link') %></a>
  <caption><%= app_item.title %></caption>
</div>