<div id="author_leftcolumn">
  <h6>Step 1: Upload Background</h6>
  <p>Click ‘browse’ to upload a personal picture then drag your background to the phone.</p>

  <%= semantic_form_for @project, :html => { :multipart => true, :class => 'ajax gpsrs-project-basic-settings' } do |f| -%>
    <div id="messages-container">
      <%= output_errors('Please correct the following errors:', {:class => 'help-box'}, @project) %>
    </div>
    <% f.inputs do %>    
      <%= f.file_field :background_image, { :label => '<strong>App Background: </strong>(Image size should match the size you specify above.)' } %>
      <%= f.input :width %>
      <%= f.input :height %>
    <% end -%>
    <div class="submits clearfix form-item">
      <div class="waiting" style="display:none;">Please Wait</div>
      <%= f.submit 'Save', :input_html => { :class => 'submit_wait' } %>
      <%= hidden_field_tag :update_app_icons_drop, true %>
    </div>
  <% end -%>
  
  <div class="cl"></div>
  <br />
  <h6> Step 2: Add Points</h6>
  <p>Add points to the map to identify the course your students will take.</p>
  <div id="gps-points">
    <div id="new-fact">
      <%#= render :partial => 'facts/gpsrs_fact_form' %>
      <a href="<%=new_project_fact_path(@project)%>" class="gpsrs-view fancy-gpsrs">Add new point</a>
    </div>  
  </div>
  <br />
  <p><a href="<%= build_project_path %>"><img width="182" height="40" alt="Next" src="/images/author_imgs/next_button3.png"></a></p>
</div>
<div id="author_rightcolumn">
  <div class="content-iPhone">
    <div id="gpsrs-points-container" class="points-container" <%= app_background(@project).html_safe %>>
      <%= render :partial => 'facts/gpsrs_fact', :collection => @project.facts, :as => :fact %>
    </div>
  </div>
  <div id="gpsrs-points-control" class="center"><a href="<%=project_facts_path(@project)%>" class="fancy-edit">Reorder points</a></div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
  apply_fancy_gpsrs();
  jQuery('.fact-content').live('keyup', function(){
    jQuery('#gpsrs-preview').html(jQuery(this).val());
  });
  jQuery('.fact-content').live('click', function(){
    jQuery('#gpsrs-preview').html(jQuery(this).val());
  });
  jQuery('.gpsrs-iphone-trigger').live('click', function(){
    var textarea = jQuery(this).parent().find('textarea');
    textarea.val(jQuery('.gpsrs-iphone-template').html());
    textarea.keyup();
    return false;
  });  	
});
</script>
