<div class="answer fields">
  <p class="title">Answer <%= remove_child_link "(remove)", f %></p>
  <ul>
    <%= f.input :content %>
    <%= f.input :correct_feedback %>
    <%= f.input :incorrect_feedback %>
    <%= f.input :correct %>
  </ul>
</div>
