<div id="<%=fact.dom_id%>">
  <div id="<%=fact.dom_id%>_dot" class="gpsrs-fact-dot" <%=calculate_gpsrs_position(fact).html_safe%> >
    <a href="<%=edit_fact_path(fact)%>" class="gpsrs-view fancy-gpsrs"><img src="<%= fact.icon -%>" alt="Icon for fact" /></a>
  </div>
  <div id="<%=fact.dom_id%>_content" class="gpsrs-fact" <%=calculate_gpsrs_position(fact).html_safe%>>
    <h3 class="fact-title"><a href="<%=edit_fact_path(fact)%>" class="gpsrs-view fancy-gpsrs"><%=fact.position%>. <%= fact.title %></a></h3>
  </div>
</div>