<div id="<%=fact.dom_id%>" class="gpsrs-fact-dot-container" <%=calculate_gpsrs_position(fact).html_safe%>>
  <div id="<%=fact.dom_id%>_dot" class="gpsrs-fact-dot">
    <img src="<%= fact.icon -%>" alt="Icon for fact" /><a href="<%=edit_fact_path(fact)%>" class="gpsrs-view fancy-gpsrs"><%=fact.position%>. <%= fact.title[0..4] %></a>
  </div>
  <input type="hidden" value="<%=fact.id%>" class="fact_id">
</div>