<div id="gpsrs-editor-popup">
  <div id="gpsrs-editor-leftcolumn">
    <%= semantic_form_for @fact, :html => { :multipart => true, :class => 'ajax gpsrs-form' } do |f| -%>
      <div id="messages-container">
        <%= output_errors('Please correct the following errors:', {:class => 'help-box'}, @fact) %>
      </div>
      <div id="ajax-messages-container"></div>
      <%= f.inputs do %>
        <%= f.input :title, :label => 'Title' -%>
        <li>
          <p><label>Select Icon</label></p>
          <% @project.tags.each do |tag| -%>
            <a class="tag-link" href="#" title="<%= tag.name %>" <%=show_icon_tag?(@fact.new_record?)%>><img <%=current_tag_class(@fact, tag)%> src="<%= tag.icon %>" alt="<%= tag.name %>" /></a>
          <% end -%>
          <%= f.hidden_field :tag_list, { :class => 'tag_list' }  -%>
        </li>
        <li>
          <%= f.label :content, "Main Content" %>
          <a class="gpsrs-iphone-trigger" href="#">Add Template</a>
          <%= f.text_area :content, :class => 'fact-content' %>
        </li>
        <%= f.input :photo, :label => 'Upload Image', :as => 'file' %>
        <li><p>The field can be 400 feet wide and 276 feet wide. Specify a North/South from -200 to +200 and an East/West offset from -138 to + 138</p></li>
        <%= f.input :vertical_offset, :input_html => { :class => 'number' }, :label => 'North/South offset' %>
        <%= f.input :horizontal_offset, :input_html => { :class => 'number' }, :label => 'East/West offset' %>
      <% end -%>

      <div id="child-content">
        <ul id="content-list">
          <%= f.semantic_fields_for :contents do |q| -%>
            <%= render :partial => "facts/content_fields", :locals => { :f => q } %>
          <% end -%>
          <div id="add-child-content"><%= add_child_link "Add Content", f, :contents %></div>
        </ul>
      </div>
  
      <%= hidden_field_tag :factable_id, @project.id %>
      <%= hidden_field_tag :factable_type, @project.type %>
      <%= hidden_field_tag :spatial, true %>
      <div class="submits clearfix form-item">
        <div class="waiting" style="display:none;">Please Wait</div>
        <%= f.submit 'Save', :class => 'submit_wait submit_fact' %>
        <% if !@fact.new_record? -%>
          <a class="delete ajax-delete" href="<%= fact_path(@fact, :spatial => true) %>">Delete this point</a>
        <% end -%>
      </div>
    <% end -%>
  </div>
  <div id="gpsrs-editor-rightcolumn">
    <div class="content-iPhone">
      <div id="gpsrs-preview" <%= app_background(@project) %>></div>
    </div>
  </div>
</div>
<div class="gpsrs-iphone-template" style="display:none;">
  <style type="text/css">
  /* <![CDATA[ */
  .style01{color:#FFFFFF;font-family:Arial,Helvetica,sans-serif;font-size:16px;}
  body{margin:0;padding:0;font-size:16;font-family:sans-serif;}
  #container{/* Replace "ContentBackground001.jpg" with your own background image. */
  background-image:url(ContentBackground001.jpg);width:320px;height:350px;padding:0;border:0;overflow:hidden;}
  #header{width:320px;height:18px;padding:0;border:0;overflow:hidden;}
  #footer{width:320px;height:30px;padding:0;}
  #text{width:244px;height:130px;padding:0;overflow:hidden;margin:10px 38px 10px 38px}
  #content01{width:320px;height:144px;padding:0;overflow:hidden;}
  #content02{width:320px;height:138px;padding:0;overflow:hidden;}
  #divider{width:320px;height:26px;padding:0;}
  /* ]]> */
  </style>
  <div id="container">
    <div id="header"></div>
    <div id="content01">
      <!--Replace "ContentImage.jpg" here with your own image. -->
      <div align="center"><img width="242" height="144" src="ContentImage.jpg"></div>
    </div>
    <div id="divider"></div>
    <div id="content02">
      <div id="text" class="style01">
        <!--Replace "Place Text Here" with your own text. -->
        <p>Place Text Here</p>
        <p>Place Text Here</p>
      </div>
    </div>
    <div id="footer"></div>
  </div>
</div>

<script type="text/javascript" language="JavaScript">
  jQuery(document).ready(function() {
    <% if @fact.new_record? -%>
      apply_content_methods('', false);
    <% else -%>
      apply_content_methods('<%= sort_fact_contents_path(@fact) %>', true);
    <% end -%>
  });
</script>