  <p> Details </p>
  <ul>
    <%= f.input :position_x %>
    <%= f.input :position_y %>
    <%= f.input :trigger_x %>
    <%= f.input :trigger_y %>
    <%= f.input :checker_x %>
    <%= f.input :checker_y %>
    <%= f.input :checker_size %>
  </ul>

