<div class="project">
  <%= link_to image_tag(project.photo.url(:thumb), :class => 'thumb'), project_path(project) %>
  <h2><%= link_to project.name, project_path(project) %></h2>
  <p><%= link_to 'Edit',  edit_project_path(project) %></p>
  <p><%#= link_to 'Map',  map_project_path(project) %></p>
  <p><%#= link_to 'Icons', icons_project_path(project) %></p>
  <p><%= link_to 'Export', export_project_path(project) %></p>
  <p><%= project.description %></p>
  <p><%= link_to 'Delete', @project, :confirm => 'Are you sure?', :method => :delete if @project.can_edit?(current_user) %></p>
</div>